/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* My code */
.container {
  width: 90%;
  margin: 0 auto;
}
.page-navigation {
  padding: 20px;
}
.page-navigation ul {
  display: flex;
  justify-content: flex-end;
}
.page-navigation ul li {
  display: inline;
  margin-right: 20px;
}
.page-navigation ul li a {
  color: black;
  text-decoration: none;
}
.page-navigation ul li a:hover {
  text-decoration: line-through;
  text-decoration-color: grey;
}
.intro {
  padding: 2rem;
  background-color: #C8C8C8;
}
.intro h1 {
  font-size: 2rem;
  padding: 1rem;
}
.intro p {
  padding: 1rem;
}
.intro img {
  width: 30%;
  height: 30%;
}
.intro button {
  margin: 1rem;
  padding: 0.5rem;
  background: grey;
  color: white;
  border: 1px solid grey;
}
.about-me {
  height: 20rem;
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 2rem 0;
}
.about-me .about-me-text {
  width: 50%;
  padding: 2rem;
}
.about-me .about-me-text h1 {
  font-size: 2rem;
  text-align: left;
  padding: 1rem 0;
}
.about-me .skills {
  width: 45%;
  padding: 2rem;
}
.about-me-text p {
  line-height: 2rem;
}
table {
  width: 100%;
  margin: 0 auto;
}
table td,
table tr {
  border: 1px solid grey;
  padding: 1rem;
  text-align: center;
}
.work-history {
  margin: 20px auto;
}
.work-history h1 {
  font-size: 2rem;
  padding: 0 2rem;
}
.work-history-table {
  margin: 2rem;
}
.work-history-table td {
  border: 0;
  text-align: center;
}
.work-history-table tr.grey-row {
  background-color: #C8C8C8;
}
